/*se puede dar estilos a las etiquetas de html y para diferenciarrlos existen id y classes
para llamar a un id especifico se utiliza #nombreID
para llamar a una clase de utiliza .nombre de la clase**/

body{
    font-family: 'Nunito', sans-serif ;
    font-weight: normal;
    font-size: 100%;
    color: #5F6769;

    margin: 0;
    background-color:#FFFFFF ;

}
#encabezadoprincipal{
    width: 100%;
    height: 90px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #E1E3E3;
}
.contenedor{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.modulo{
    height: 90px;
    box-sizing: border-box;
    line-height: 90px;
}
#logoempresa{
    width: 70px;
    height: 70px;
    margin: auto;
}
.mod-logo{
    float: left;
    padding-top: 10px;
}
.mod-izq{
    float: left;
    margin-left: 50px;
}
.mod-izq a:hover{
    color: #3E4344;
}
.mod-der{
    float: right;
}
.titulo-sitio{
    font-size: 140%;
}
#menuprincipal a{
    padding-right: 15px;
    color: #5f6769;
}
#menuprincipal a:hover{
    padding-right: 15px;
    color: #FF971D;
}
#contenidoprincipal{
    float: left;
    padding-right: 15px;
    width: 770px;
    box-sizing: border-box;
}
h1{
    font-size: 255%;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #3E4344;
}
h2{
    font-size: 200%;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #3E4344;
}
h3{
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #3E4344;
}
h4{
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #3E4344;
}
.contacto-articulo{
    font-size: 90%;
}
.fecha-articulo{
    font-size: 70%;
    color: #6fb98f;
}
p{
    text-align: justify;
}
.contenedor-youtube{
    width: 568px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tabla-articulo{
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.tabla-articulo caption{
    font-weight: 600;
    margin-bottom: 10px;
}
.tabla-articulo th{
    background-color: #3E4344;
    color: #FFFFFF;
    height: 35px;
    font-size: 120%;
    padding: 5px;
}
.tabla-articulo td{
    padding: 5px;
    border-bottom: 1px solid #3e4344;
}
.tabla-articulo tr:hover{
    background-color: grey;
}
.pie-articulo{
    width: 100%;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 90%;
    background-color: #E1E3E3;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
}
.mod-pie-art{
    height: 100px;
}
.pie-art-izq{
    float: left;
    width: 20%;
}
.pie-art.der{
    float: right;
    width: 80%;
    display: table;
}
.pie-art.der p{
    display: table-cell;
    vertical-align: cell;
}
#enlacesrel{
    float: right;
    padding-left: 15px;
    width: 400px;
    box-sizing: border-box;
}
.contenedor-enlaces{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;

     background-color: #f4f4f4;

     box-sizing: border-box;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 5px;

     margin-top: 10px; 
     margin-bottom: 30px;
}
.contenedor-enlaces h3{
    background-color: #E1E3E3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;

     padding-left: 20px;
     padding-right: 20px;
     box-sizing: border-box;

}
#clientes-destacados{
    display: block;
    clear: both;
    background-image: url(../imagenes/banner-pizza.jpg);
}
.info-cliente{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.info-cliente img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
     background-color: #FFFFFF;
     opacity: 80%;
}
.info-cliente span{
        color: #FFFFFF;
        display: block;
        
}
.contenedor h2{
    color: #FFFFFF;
}
.contenedor-cliente{
    text-align: center;
}
.cont-clientes{
    padding-bottom: 40px;
    padding-top: 5px;
}
#redessociales{
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;  
    text-align: center;
}
#redessociales img{
    padding-left: 30px;
    padding-right: 30px;
}
#footerpagina{
    background-color: #232020;
    width: 100%;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
}
.mod-pie-pagina{
    padding-left: 32px;
    padding-right: 32px;
}
.pie-pag-izq{
    float: left;
}
.pie-pag-der{
    float: right;
}
.pie-nombre-marca{
    font-size: 200%;
}
.pie-der-autor{
    font-size: 80%;
}
.pie-der-autor address{
    font-size: 80%;
    padding-top: 10px;
}